<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2013 Aljoschability and others. All rights reserved.

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License v1.0 which accompanies this distribution,
	and is available at http://www.eclipse.org/legal/epl-v10.html

	Contributors:
		Aljoscha Hark <mail@aljoschability.com> - initial API and implementation
-->
<plugin>
   <extension-point id="generator" name="Documentation Generator" schema="schema/generator.exsd"/>
   <extension
         point="com.aljoschability.eclipse.tools.edogen.generator">
      <generator
            class="com.aljoschability.eclipse.tools.edogen.impl.HtmlDocumentationGenerator"
            extension="html"
            id="html"
            name="HTML">
      </generator>
      <generator
            class="com.aljoschability.eclipse.tools.edogen.impl.MarkdownDocumentationGenerator"
            extension="md"
            id="markdown"
            name="Markdown">
      </generator>
      <generator
            class="com.aljoschability.eclipse.tools.edogen.impl.LatexDocumentationGenerator"
            extension="latex"
            id="latex"
            name="LaTeX">
      </generator>
   </extension>
</plugin>
