<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
 <extension point="org.eclipse.ui.views">
    <e4view
          allowMultiple="false"
          category="org.eclipse.pde.ui"
          class="com.aljoschability.eclipse.tools.promato.ui.parts.OrganizeManifestsView"
          icon="icons/header.png"
          id="com.aljoschability.tools.mforg.ui.views.OrganizeManifestsView"
          name="Maintainance"
          restorable="true">
    </e4view>
 </extension>
</plugin>
